
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/_LayoutPage5.cshtml";
}

<div class="wrapper2">
    <nav>

        <div class="content">
            <div class="logo"><a href='#' style="color:white;text-decoration:none;">RentalHousing</a></div>

        </div>
    </nav>
</div>
<br />

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <h3 style="margin:30px 20px;">Owner Details</h3>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Thamilarasan</span><span class="text-black-50">Owner</span><span class="text-black-50">tamilrental023@mail.com.my </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">SEND A ENQUIRY TO OWNER</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="Enter Mobile Number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="Enter address line 1" value=""></div>
                    <div class="col-md-12"><label class="labels">Date</label><input type="date" class="form-control" placeholder="Enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="Enter Email Id" value=""></div>
                </div>
               
                <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button"  >Book Property</button>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Properties Listed</span><span class="border px-3 p-1 add-experience">&nbsp;01</span></div><br>

                <div class="col-md-12"><label for="exampleFormControlTextarea1"> Comments</label><textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea></div>
            </div>
        </div>
    </div>
</div>
        </div>
        </div>

<br />
<section id="about">
    <h1>About Us</h1>
    <p>Some works we do that we give our best</p>
    <p>Our utmost response is always one step ahead with your trustworthy feedback.</p>
    <p>Good customer service is all about bringing customers back. And about sending them away happy – happy enough to pass positive feedback about your business along to others, who may then try the product or service you offer for themselves and in their turn become repeat customers. </p>
    <p>We believe our work, We believe our customers.</p>
    <hr>
    <div style="display: flex">
        <div>
            <p class="follow">Follow us on</p>
            <p class="icons">
                <a href="https://twitter.com/Nar_the_Phoenix" class="fab fa-twitter fa-2x"></a>&ensp;
                <a href="https://instagram.com/nar_the_phoenix" class="fab fa-instagram fa-2x" style="color:#DD2A7B"></a>&ensp;
                <a href="https://linkedin.com/in/narayananadaikalavan" class="fab fa-linkedin-in fa-2x" style="color:#0e76a8"></a>&ensp;
                <a href="https://t.me/Narayanan_A" class="fab fa-telegram fa-2x" style="color:#0088cc"></a>
            </p>
        </div>
        <div>
            <p style="margin-left:170px">Contact Us</p>
            <p style="margin-left:170px"><i class="fab fa-mailchimp fa-lg"></i>&ensp;<a href="mailto:tamilarasan0024@gmail.com">rentalhousing@gmail.com</a></p>
            <p style="margin-left:170px"><i class="fas fa-phone-alt"></i>&ensp;<a href="tel:+918883406468" style="text-decoration: none">8883406468</a></p>
        </div>
        <div>
            <p class="address">Address:</p>
            <p class="address1"><i class="fas fa-map-marker-alt" style="color:chartreuse"></i>&ensp;Salem, Tamilnadu</p><p class="address2">India</p>
        </div>
    </div>
    <br>
    <div>
        <p class="copy">&#169 Copyright 2021 | Rental Housing | All Rights Reserved  </p>
    </div>
</section>

